[submodule "dxram"]
	path = dxram
	url = https://github.com/hhu-bsinfo/dxram
[submodule "src/main/java/de/hhu/bsinfo/dxutils"]
	path = src/main/java/de/hhu/bsinfo/dxutils
	url = https://github.com/hhu-bsinfo/dxutils-src
[submodule "src/main/java/de/hhu/bsinfo/dxnet"]
	path = src/main/java/de/hhu/bsinfo/dxnet
	url = https://github.com/no-go/dxnet-src
branch = develop