doc/_minted-temp_template
doc/temp*

slides/_minted-temp_*
slides/temp*

connector/.idea/**/*
connector/target/**/*
connector/out/**/*

HalloDatas/dxapp/build/**/*
HalloDatas/dxapp/.gradle/**/*

dxram_part/dxapp/build/**/*
dxram_part/dxapp/.idea/**/*
dxram_part/dxapp/.gradle/**/*
dxram_part/dxapp/src/main/*.iml

dxram_part/dxnet/build/**/*
dxram_part/dxnet/.idea/**/*
dxram_part/dxnet/.gradle/**/*
dxram_part/dxnet/src/main/*.iml

nonHadoopClient_debug/build/**/*
nonHadoopClient_debug/.gradle/**/*

# Compiled class file
*.class

# Log file
*.log
zookeeper.out

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

## File-based project format:
*.iws

